<div class="mt-4 bg-gray-100 shadow">
    <h2 class="text-5xl font-bold text-gray-800 p-4"> 
        Some Random Tastes For You !
    </h2>

</div>

<div class="p-2 flex flex-wrap justify-center items-center">
            
            
    {% for recipe in random_recipes %}
    <div class="p-2">
        <a href="{{url_for('recipe', recipe_id = recipe.id) }}" class="block p-6 max-w-xl shrink-0 bg-white rounded-sm border border-gray-200  hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{ recipe.title }}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{ recipe.description }}</p>
        </a>
    </div>
    {% endfor %}
</div>